.flex {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  margin: 20px;
}

.button {
  color: red;
  cursor: pointer;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: turquoise;
  border-radius: 30px;
}
