.FlexContainer {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.FlexContainer ul {
  display: flex;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.FlexContainer li {
  flex-wrap: wrap;
}
